/*Color Scheme:

#336eb6 - Blue
#94C4FF - Svetla

#35373d - Siva
#e3e3e3 - border

*/

body {
	font-family: sans-serif;
	font-size: 14px;
}

input {
	font-size: 14px;
}

aside {
	width: 200px;
	flex: 0 0 200px;
}

form {
	display: block;
}


.success {
	color: #26C281;
}

.error {
	color: #e43a45;
}

.info {
	color: #3598dc;
}

.btn.success {
	color: #fff;
	background-color: #26C281;
}

.btn.error, .error .btn {
	color: #fff;
	background-color: #e43a45;
}

.btn.info {
	color: #fff;
	background-color: #3598dc;
}

.validation.error ~ input
, .validation.error ~ input:hover
, .validation.error ~ input:focus
 {
	border-color: #e43a45;
}


.box {
	background-color: #f5f5f5;
	border: 1px solid #e3e3e3;
	margin: 10px;

}

.box.blue {

}

.box.red {

}

.box.gray {

}

.box.orange {

}


.box > header {
	border-bottom: 1px solid #3598DC;
	font-weight: bold;
	padding: 10px;
}

.box .main {
	padding:15px;
	padding-top:20px;
}


/* === Red Box Options === */

.box.orange {
	border: 1px solid #DFA941;
	border-top: none;
}

.box.orange > header {
	border-bottom: 1px solid #DFA941;
	background-color: #DFA941;
}



/* === Blue Box Options === */

.box.blue {
	border: 1px solid #5C9BD1;
	border-top: none;
}

.box.blue > header {
	background-color: #5C9BD1;
	border-bottom: 1px solid #5C9BD1;
}

.box.blue-madison {
	border: 1px solid #578EBE;
	border-top: none;
}

.box.blue-madison > header {
	background-color: #578EBE;
	border-bottom: 1px solid #578EBE;
}

.box.blue-dark {
	border: 1px solid #578EBE;
	border-top: none;
}

.box.blue-dark > header {
	background-color: #5E738B;
	border-bottom: 1px solid #5E738B;
}



/* === Green Box Options === */

.box.green {
	border: 1px solid #26C281;
	border-top: none;
}

.box.green > header {
	border-bottom: 1px solid #26C281;
	font-weight: bold;
	background-color: #26C281;
}


.box.green-dark {
	border: 1px solid #0f4c4c;
	border-top: none;
}

.box.green-dark > header {
	border-bottom: 1px solid #0f4c4c;
	font-weight: bold;
	background-color: #0f4c4c;
}

.box.green-haze {
	border: 1px solid #44B6AE;
	border-top: none;
}

.box.green-haze > header {
	border-bottom: 1px solid #44B6AE;
	font-weight: bold;
	background-color: #44B6AE;
}


.box.yellow-mint {
	border: 1px solid #C5B96B;
	border-top: none;
}

.box.yellow-mint > header {
	border-bottom: 1px solid #C5B96B;
	background-color: #C5B96B;
}


/* === Neutral Box Options === */

.box.grey-mint {
	border: 1px solid #525E64;
	border-top: none;
}

.box.grey-mint > header {
	border-bottom: 1px solid #525E64;
	background-color: #525E64;
}

.box.grey-cascade {
	border: 1px solid #95A5A6;
	border-top: none;
}

.box.grey-cascade > header {
	border-bottom: 1px solid #95A5A6;
	background-color: #95A5A6;
}




.box > header > h1, .box > header > h2, .box > header > h3, .box > header > h4, .box > header > h5 {
	padding: 0;
	font-weight: 600;
	font-size: 18px;
	color: #f8f8f8;
}


body {
	background-color: #eee;
}


aside, body > footer {
	background-color: #364150;
}

[role="input"] button:hover {
	background-color: #94C4FF;
}


input[type="text"]
, input[type="password"]
, input[type="number"]
, input[type="email"]
, input[type="date"] {
	background-color: #fafafa;
	border: 1px solid #e3e3e3;
}

input[type="text"]:hover
, input[type="password"]:hover
, input[type="number"]:hover
, input[type="email"]:hover
, input[type="date"]:hover {
	border-color: #94C4FF;
	background-color: #fff;
}

input[type="text"]:focus
, input[type="password"]:focus
, input[type="number"]:focus
, input[type="email"]:focus
, input[type="date"]:focus {
	background-color: #fff;
	border-color: #336eb6;
}

.inputPrefix.icon, .inputSuffix.icon {
	background-color: #e3e3e3;
}


table td, table th {
	border-left: 1px solid #e3e3e3;
	/*border-bottom: 1px solid #e3e3e3;*/
}

table thead {
	background-color: #f5f5f5;
}

table tbody tr {
	background-color: #fff;
}
table tbody tr:nth-child(2n) {
	background-color: #f3f3f3;
}

table tbody tr:hover {
	background-color: #94C4FF;
}

.togglebox label {
	background-color: #94C4FF;
}

.togglebox input[role^="active"]:checked + label {
	background-color: #fff;
}

.tabs {
	background-color: #e3e3e3;
}

.tabs .content {
	background-color: #fff;
	border: 1px solid blue;
}

nav.ln ul > li {
	border-bottom: 1px solid #3d4957;
}
nav.ln ul > li li {
	border-bottom: none;
}

nav.ln li > a {
	color: #b4bcc8;
}

nav.ln li > a:hover {
	background-color: #2C3542;
	color: #b4bcc8;
}

nav.ln li > a.selected {
	color: #fff;
	background-color: #ed6b75;
}


nav.ln li li a {
	background-color: #3e4b5c;
}

nav.ln li li a.selected {
	background-color: #E08283;
}


.box main, .box .main {
	background-color: #fff;
}
