.box {
	position: relative;

}

.box > header {
	border-bottom: 1px solid #3598DC;
	font-weight: bold;
	padding: 10px;
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
}

.box > header > * {
	font-size: 14px;
	margin: 0;
	padding: 0;
}

.box > header > h1
, .box > header > h2
, .box > header > h3
, .box > header > h4
, .box > header > h5 {
	padding: 5px;
	font-weight: bold;
	font-size: 24px;
}

.box .main {
	position: absolute;
	top: 50px;
	left: 0;
	right: 0;
	bottom: 0;
	overflow: auto;

}

.box > footer {
	padding: 5px;
	position: absolute;
	bottom: 0;
	height: 50px;
}


.box > header > h1, .box > header > h2, .box > header > h3, .box > header > h4, .box > header > h5 {
	padding: 0;
	font-weight: 600;
	font-size: 18px;
}

