.right {
	float: right;
}

.textRight {
	text-align: right;
}

.alter > *:nth-child(even) {
	background-color: #ccc;
}
.alter > *:nth-child(odd) {
	background-color: #eee;
}

.bordered > * {
	border-bottom: 1px solid #ccc;
}